<mat-tab-group [(selectedIndex)]="selectedIndex">
  @for (tab of tabs; track tab) { @if ((!tab.adminOnly && !tab.studentOnly) ||
  (tab.adminOnly && (isAdmin$ | async)) || (tab.studentOnly && !(isAdmin$ |
  async))) {
  <mat-tab [id]="tab.label.toLowerCase()">
    <!-- existing tab content -->
    <ng-template mat-tab-label>
      <mat-icon>{{ tab.icon }}</mat-icon>
      {{ tab.label }}
    </ng-template>
    <ng-container [ngComponentOutlet]="tab.component"></ng-container>
  </mat-tab>
  } }
</mat-tab-group>

<!-- Newer version of tabs -->
<!-- <mat-tab-group [(selectedIndex)]="">
  @for(tab of tabs; track tab){ @if((!tab.adminOnly && !tab.studentOnly)||
  (tab.adminOnly && (isAdmin$ | async)) || (tab.studentOnly && !(isAdmin$ |
  async))){
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>{{ tab.icon }}</mat-icon>
      {{ tab.label }}
    </ng-template>
    <ng-containter [ngComponentOutlet]="tab.component"></ng-containter>
  </mat-tab>
  } }
</mat-tab-group> -->

<!-- Old working tab layout -->
<!-- <mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>account_circle</mat-icon>
      Profile
    </ng-template>
    <app-profile></app-profile>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>calendar_view_week</mat-icon>
      Schedule
    </ng-template>
    <app-schedule></app-schedule>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>school</mat-icon>
      Academics
    </ng-template>
    <app-academics></app-academics>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>payments</mat-icon>
      Financials
    </ng-template>
    <app-financials></app-financials>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>description</mat-icon>
      Documents
    </ng-template>
    <app-documents></app-documents>
  </mat-tab>
</mat-tab-group> -->
