svg {
  width: auto; /* Adjust width as needed */
  height: 200px; /* Ensure height is set correctly */
  object-fit: fill; /* Ensure the SVG scales while keeping its aspect ratio */

  margin-left: 20px;
}
.navbar {
  display: flex;
  align-items: center;

  width: 100%;
  padding: 10px 0;
}

.welcome-text-container {
  flex-grow: 1;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
  margin-right: 150px;
}

@media (max-width: 768px) {
  .welcome-text {
    padding: 0;
    margin-top: 10px;
  }
  svg {
    height: 100px;
  }
}
