.sticky-tabbar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 30;
  z-index: 1000; /* Ensure it stays above other content */
  background-color: white; /* Optional: Set a background color to avoid transparency issues */
}
