<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Enrollment Appointment </mat-panel-title>
      <mat-panel-description>
        View your Sessions, Start Time, and End Time of Courses
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="grid-container">
      <!-- Row 1 -->
      <div class="grid-header">Session</div>
      <div class="grid-header">Start Time</div>
      <div class="grid-header">End Time</div>
      <ng-container *ngFor="let session of sessionData">
        <div class="grid-item">{{ session.session }}</div>
        <div class="grid-item">{{ session.startTime }}</div>
        <div class="grid-item">{{ session.endTime }}</div>
      </ng-container>
    </div>
  </mat-expansion-panel>

  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Courses </mat-panel-title>
      <mat-panel-description>
        Add, Drop, or Swap Courses
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="mat-expansion-panel-body">
      <div class="text-container">
        <h2>Session Selection</h2>
        <h3>Search Courses to Add/Drop</h3>
      </div>

      <app-course-selector (courseSelected)="onCourseSelected($event)">
      </app-course-selector>
    </div>
  </mat-expansion-panel>
</mat-accordion>
