<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Enrollment Appointment </mat-panel-title>
      <mat-panel-description>
        View your Name, Date of Birth, and SSN
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="text-container">
      <mat-label>Fall/Winter Regular Session:</mat-label>

      <mat-list-item>Andrew Pitblado</mat-list-item>
    </div>

    <mat-divider></mat-divider>
    <div class="text-container">
      <mat-label>Summer Session: </mat-label>
      <mat-list-item>01/01/1990</mat-list-item>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Personal Information </mat-panel-title>
      <mat-panel-description>
        View your Name, Date of Birth, and SSN
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="text-container">
      <mat-label>Name:</mat-label>

      <mat-list-item>Andrew Pitblado</mat-list-item>
    </div>

    <mat-divider></mat-divider>
    <div class="text-container">
      <mat-label>Date of Birth:</mat-label>
      <mat-list-item>01/01/1990</mat-list-item>
    </div>
  </mat-expansion-panel>
</mat-accordion>
