.mat-icon {
  padding-left: 20px;
}

.mat-panel-description {
  padding: 20px;
  align-items: flex-end;
}

.example-action-buttons {
  margin: 20px;
  padding: 10px;
  width: max-content;
  height: fit-content;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.mat-expansion-panel-content {
  overflow: visible !important;
}
.mat-expansion-panel-body {
  overflow: auto;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 50px;
}
.text-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  padding: 0px;
}

.text-container mat-label {
  flex: 1;
  text-align: left;
  margin-right: -160px;
}

.text-container mat-list-item {
  flex: 1;

  margin-left: -160px;
}
mat-expansion-panel {
  margin-left: 300px;
  width: 100%;
  max-width: 800px;
}
.sessionSelector {
  display: flex;

  align-items: center;
  margin: 5px 0;
}

mat-form-field {
  width: 300px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 16px;
}

.grid-item {
  padding: 16px;

  border-radius: 4px;
}
.grid-header {
  padding: 16px;
  background-color: #b993f3;
  border-radius: 4px;
  color: azure;
}
.search-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-field {
  width: 375px;
}

button {
  margin-right: 200px;
  white-space: nowrap;
  padding: 10px 20px;
}
.swap-button {
  margin-left: 40px;
}

.add-button {
  color: chartreuse;
}

@media (max-width: 800px) {
  mat-expansion-panel {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
  .search-field {
    width: 90%;
  }
}
