.mat-icon {
  padding-left: 20px;
}

.mat-panel-description {
  padding: 20px;
  align-items: flex-end;
}
.theme-toggle {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.theme-toggle .mat-icon {
  padding: 0; /* Remove default padding */
  margin: 0;
  height: 24px;
  width: 24px;
  line-height: 24px;
}
/* Update general icon styles to not affect theme toggle */
.mat-icon {
  padding-left: 20px;
}
.mat-icon-button .mat-icon {
  padding-left: 0;
}

.example-action-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 20px;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.text-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 30px;
}

.text-container mat-label {
  flex: 1;
  text-align: left;
  margin-right: -160px;
}

.text-container mat-list-item {
  flex: 1;

  margin-left: -160px;
}

.profile-container {
  max-width: 1000px;
  margin: 20px auto;
  background-color: inherit;
  padding: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.action-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.readonly-field {
  background-color: #0000000f;
  pointer-events: none;
  padding: 5px;
  border-radius: 10px;
}
.mat-datepicker-toggle {
  color: inherit;
}

.readonly-field .mat-datepicker-toggle {
  display: none;
}
.mat-drawer {
  background-color: inherit;
}
