.mat-icon {
  padding-left: 20px;
}

.mat-panel-description {
  padding: 20px;
  align-items: flex-end;
}

.example-action-buttons {
  margin: 20px;
  padding: 10px;
  width: max-content;
  height: fit-content;
}
.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.text-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  padding: 30px;
}

.text-container mat-label {
  flex: 1;
  text-align: left;
  margin-right: -160px;
}

.text-container mat-list-item {
  flex: 1;

  margin-left: -160px;
}

.profile-container {
  max-width: 800px;
  margin: 20px auto;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.action-buttons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.readonly-field {
  background-color: #cbcaca;
  pointer-events: none;
  padding: 5px;
  border-radius: 5px;
}
