@use "@angular/material" as mat;
@include mat.core();

html,
body {
  overflow-y: auto;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-header {
  @include mat.elevation(2);
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1000;
  top: 0;
  color: #121212;
  background-color: #f5f3f56f;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.mat-mdc-tab-header::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), transparent);
}

.mat-mdc-select-trigger {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.mdc-button {
  border-radius: 15px !important;
  padding: 1rem;
}

button[type="submit"].mat-raised-button {
  background-color: #821cd6 !important;
  color: white !important;

  &:hover {
    background-color: #a51af0 !important;
    opacity: 0.8;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

button[type="button"].mat-button.cancel-button {
  background-color: #e0e0e0 !important;
  color: black !important;

  &:hover {
    background-color: #bdbdbd !important;
    opacity: 0.8;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

button[type="button"].mat-button.expand-collapse-button,
button[type="button"].mat-button.logout-button {
  background-color: #d1c4e9 !important;
  color: white !important;

  &:hover {
    background-color: #b39ddb !important;
    opacity: 0.8;
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

$light-primary: mat.m2-define-palette(mat.$m2-purple-palette, 700);
$light-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette, 700);

$light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

.light-mode {
  @include mat.all-component-themes($light-theme);

  .mat-calendar-body {
    background-color: white !important;
  }

  .mat-calendar-body-cell {
    &:not(.mat-calendar-body-disabled) {
      &:hover
        > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
        background-color: var(
          --mat-datepicker-calendar-date-hover-state-layer-color,
          rgba(0, 0, 0, 0.04)
        );
      }
    }
  }
  .info-hint {
    color: rgba(0, 0, 0, 0.6);
  }
  .schedule-grid {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  .weekday {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  .time-slot {
    color: #888;
    border-right: 1px solid #ddd;
  }
  .grid-item {
    border: 1px solid #ddd;
    background-color: #f5f5f5;
  }

  .course-dropdown {
    max-width: 400px;

    position: absolute;
    background: white;
    border: 2px solid #000000;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    overflow-y: auto;
    min-height: 300px;

    z-index: 1000;
  }
  .course-dropdown.swap-add-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 10px);
    z-index: 1000;
  }
  .course-dropdown.swap-drop-dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    width: calc(100% - 10px);
    z-index: 1000;
  }
  ul {
    list-style: none;
    list-style-type: none;
    padding: 10px;
  }
  .class-list {
    background: #b8b8b8;
    border-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  .lab-item {
    background-color: rgb(20, 0, 255) !important;
    border-left: 3px solid #0a37d6 !important;
    border-radius: 5px;

    .course-header {
      color: #fcfeff !important;
      font-weight: bold;
    }

    .lab-icon {
      color: #ffffff !important;
    }

    &:hover {
      background-color: #000000;
      opacity: 0.5;
    }
  }

  .course-item {
    padding: 1rem;

    cursor: pointer;
    border-bottom-color: #333;
    color: #ffffff;
    background-color: rgb(128, 0, 255);
    border-radius: 5px;
    border-left: 3px solid blueviolet;
    width: 80%;
    margin-bottom: 10px;

    .course-name {
      color: #c8c8c8;
      font-weight: bold;
    }

    .seats-info {
      color: #c8c8c8;
    }

    &:hover {
      background-color: #000000;
      opacity: 0.5;
    }
  }

  .mat-calendar-body-cell-content {
    top: 5%;
    left: 5%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 999px;
    color: var(--mat-datepicker-calendar-date-text-color);
    border-color: var(
      --mat-datepicker-calendar-date-outline-color,
      transparent
    );

    &:hover {
      background-color: rgba(130, 28, 214, 0.04);
    }
  }

  .mat-calendar-body-selected {
    background-color: #821cd6;
    color: white;
  }

  .success-snackbar {
    --mdc-snackbar-container-color: #43a047 !important;
    --mdc-snackbar-supporting-text-color: white !important;

    .mdc-button__label {
      color: #a5d6a7 !important;
    }
  }

  .error-snackbar {
    --mdc-snackbar-container-color: #e53935 !important;
    --mdc-snackbar-supporting-text-color: white !important;

    .mdc-button__label {
      color: #ef9a9a;
    }
  }
}

$dark-primary: mat.m2-define-palette(mat.$m2-purple-palette, 300);
$dark-accent: mat.m2-define-palette(mat.$m2-orange-palette, A200);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette, 300);

$dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    typography: mat.m2-define-typography-config(),
    density: 0,
  )
);

.dark-mode {
  @include mat.all-component-themes($dark-theme);
  background-color: #1a1a1a;
  color: white;

  .profile-container,
  .mat-drawer-content {
    background-color: inherit;
  }

  .mat-mdc-tab-header {
    background-color: #12121288;
    color: #fff;

    .mdc-tab--active {
      color: #fff !important;
    }
  }

  .success-snackbar {
    --mdc-snackbar-container-color: #2e7d32 !important;
    --mdc-snackbar-supporting-text-color: white !important;

    .mdc-button__label {
      color: #151815 !important;
    }
  }

  .error-snackbar {
    --mdc-snackbar-container-color: #c62626 !important;
    --mdc-snackbar-supporting-text-color: white !important;

    .mdc-button__label {
      color: #ef9a9a;
    }
  }

  .mat-mdc-raised-button.mat-primary {
    --mdc-filled-button-container-color: #821cd6;
    --mdc-filled-button-container-shape: 4px;
    --mdc-filled-button-label-text-color: #ffffff;

    &:hover {
      background-color: #a51af0;
      opacity: 0.8;
      transform: translateY(-1px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &:active {
      opacity: 0.12;
      transform: translateY(0);
      box-shadow: none;
    }
  }

  .mat-mdc-raised-button.mat-warn {
    --mdc-filled-button-container-color: #d81b1bd0;
    --mdc-filled-button-container-shape: 4px;
    --mdc-filled-button-label-text-color: #ffffff;

    &:hover {
      background-color: #f50960ad;
      opacity: 0.8;
      transform: translateY(-1px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  .info-hint {
    color: rgba(255, 255, 255, 0.6);
  }
  .schedule-grid {
    background-color: #1a1a1a;
    border-color: #333;
  }
  .weekday {
    background-color: #2d2d2d;
    border-color: #333;
    color: whitesmoke;
  }
  .time-slot {
    border-color: #444;
    color: #bebebe;
  }
  .grid-item {
    border-color: #333;
    background-color: #2b2b2b;
  }
  .course-dropdown {
    background: #1e1e1e;
    border-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    max-width: 400px;
    border: 2px solid #e4e2e222;
    border-radius: 4px;
    max-height: 400px;
    overflow-y: auto;
    min-height: 300px;
    z-index: 1000;
  }

  .class-list {
    background: #1e1e1e;
    border-color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    gap: 1rem;
    display: flex;
    justify-content: center;
  }
  ul {
    list-style: none;
    list-style-type: none;
    padding: 10px;
  }

  .course-item {
    padding: 1rem;

    cursor: pointer;
    border-bottom-color: #979797;
    color: #fff;
    background-color: #562e6b;
    border-left: 3px solid blueviolet;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 10px;

    &:hover {
      background-color: #5a5a5a6f;
    }

    .course-name {
      color: #aaa;
    }

    .seats-info {
      color: #aaa;
    }
  }

  .course-item.lab-item {
    background-color: #2c4468;
    border-left: 3px solid #5c9fd6;
    border-radius: 5px;

    .course-header {
      color: #5c9fd6;
    }

    .lab-icon {
      color: #5c9fd6;
    }

    &:hover {
      background-color: #5a5a5a6f;
    }
  }

  .no-results,
  .loading-state {
    color: #aaa;
  }
}
